<div class="side-nav-container">
  <div class="side-nav-link" routerLink="/home">
    <img src="../assets/icons/icons8-accueil.svg" alt="icone maison" />
    <a class="side-nav-link-text">Accueil</a>
  </div>
  <div class="side-nav-link" routerLink="/outfit-of-the-day">
    <img
      src="../assets/icons/icons-t-shirt.png"
      class="icon-tshirt"
      alt="icone t-shirt"
    />
    <a class="side-nav-link-text">Outfit of the day</a>
  </div>
  <div class="side-nav-link" routerLink="/event">
    <img
      src="../assets/icons/icons-calendrier.png"
      class="icon-tshirt"
      alt="icone t-shirt"
    />
    <a class="side-nav-link-text">Évènement</a>
  </div>
</div>
