<div class="side-nav-container">
  <!-- Conteneur de la barre de navigation latérale -->
  <div class="side-nav-link" routerLink="/home">
    <!-- Lien de navigation vers la page d'accueil -->
    <img src="../assets/icons/icons8-accueil.svg" alt="icone maison" />
    <!-- Icône représentant une maison -->
    <a class="side-nav-link-text">Accueil</a>
    <!-- Texte du lien "Accueil" -->
  </div>

  <div class="side-nav-link" routerLink="/outfit-of-the-day">
    <!-- Lien de navigation vers la page "Outfit of the day" -->
    <img
      src="../assets/icons/icons-t-shirt.png"
      class="icon-tshirt"
      alt="icone t-shirt"
    />
    <!-- Icône représentant un t-shirt -->
    <a class="side-nav-link-text">Outfit of the day</a>
    <!-- Texte du lien "Outfit of the day" -->
  </div>

  <div class="side-nav-link" routerLink="/event">
    <!-- Lien de navigation vers la page "Évènement" -->
    <img
      src="../assets/icons/icons-calendrier.png"
      class="icon-tshirt"
      alt="icone t-shirt"
    />
    <!-- Icône représentant un calendrier -->
    <a class="side-nav-link-text">Évènement</a>
    <!-- Texte du lien "Évènement" -->
  </div>
</div>
