.container{
  background-color: rgb(255, 255, 255);
  width: 100vw;

}

.side-nav-link{
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 3rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.side-nav-link-text{
  margin-left: 0.3rem;
  position: relative;
  top: 0.2rem;

}

.side-nav-link-text:hover{
  color: rgb(53, 48, 86);

}

.inventory-and-view{
  display: flex;
}

.side-nav-container{
  margin-top: 2rem;
}

.icon-tshirt{
  width: 18%;
}





