.container {
  background-color: rgb(255, 255, 255);
  width: 100vw;
}

.dark-theme {
  /* utilisée pour appliquer un thème sombre */
  background-color: #2d3436;
  background: #2d3436;
  color: #ededed;
}

.side-nav-link {
  /* permet de gerer l'affichage de la barre de navigation latérale */
  display: flex;
  align-items: center;
  margin-left: 0rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.side-nav-link-text {
  /* permet de gerer l'affichage du texte dans la barre de navigation latérale */
  margin-left: 0.3rem;
  position: relative;
  top: 0.2rem;
}

.side-nav-link-text:hover {
  /* permet de gerer l'affichage du texte dans la barre de navigation latérale l'orsque l'on passe
  la souris dessus grâce a : "hover" */
  color: rgb(53, 48, 86);
}

.inventory-and-view {
  /* l'inventaire et l'affichage */
  display: flex;
  margin-left: 2rem;

  height: 100%;
  margin-bottom:2rem;


.side-nav-container {
  margin-top: 2rem;
}

.icon-tshirt {
  width: 18%;
}

.example-container {
  height: 100%;
}
