<div class="container">
<app-header-home [drawer]="drawer"></app-header-home>
<hr>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <div class="side-nav-container">
      <div class="side-nav-link">
        <img src="../assets/icons/icons8-accueil.svg" alt="icone maison">
        <a class="side-nav-link-text">Accueil</a>
      </div>
      <div class="side-nav-link" routerLink="/outfit-of-the-day">
        <img src="../assets/icons/icons-t-shirt.png" class="icon-tshirt" alt="icone t-shirt">
        <a class="side-nav-link-text">Oufit of the day</a>
      </div>
    </div>
  </mat-drawer>

<div class="inventory-and-view">
  <app-dressing (selectedItemEvent)="outputItemSeleted($event)"></app-dressing>
  <app-view-one-item  [item]="itemSeletedFromOutput" *ngIf="itemSeletedFromOutput"></app-view-one-item>
</div>


</mat-drawer-container>
<app-footer-home></app-footer-home>

</div>
