<div class="container">
<app-header-home [drawer]="drawer"></app-header-home>
<hr>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <app-side-nav></app-side-nav>

  </mat-drawer>

<div class="inventory-and-view">
  <app-dressing (seletedItemEvent)="outputItemSeleted($event)"></app-dressing>
  <app-view-one-item  [item]="itemSeletedFromOutput" *ngIf="itemSeletedFromOutput"></app-view-one-item>
</div>


</mat-drawer-container>
<app-footer-home></app-footer-home>





