.logo-header {
  width: 15rem;
  cursor: pointer;
  /* Style du logo dans l'en-tête avec une largeur fixe et curseur en forme de main */
  filter: invert(0);
}

.logo-header-dark{
  filter: invert(1);
}

#logo-header.dark-mode {

  filter: invert(1);
  /* Style du logo dans l'en-tête avec une largeur fixe et curseur en forme de main */
}

.container-header {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: end;

}

.container-header.dark-theme {
  background-color: #2d3436;


}

.dark-theme{
  background-color: #2d3436;
  color: #dfe6e9;
}





.button-start {
  display: flex;
  position: absolute;
  left: 0;
  /* Bouton de démarrage positionné absolument à gauche */
}

.button-start.dark-mode {
  background-color: #2d3436;
  color: #dfe6e9;

}

.burger-menu-button {
  width: 3rem;
  border: none;

  align-self: center;
  margin-left: 10px;
  /* Style du bouton de menu avec une largeur fixe et un fond blanc */
}



.burger-menu-button-image {
  width: 2rem;
  cursor: pointer;
  /* Style de l'icône du bouton de menu avec une largeur fixe et curseur en forme de main */
}

.button-end {
  position: relative;
  display: flex;
  right: 20px;
  top: 20px;
  padding: 10px;
  /* Bouton de fin positionné relativement à droite avec un décalage vertical et un padding */
}

.input-recherche {
  margin: 10px;
  height: 30px;
  position: relative;
  top: -10px;
  /* Style de l'input de recherche avec une marge, une hauteur et un décalage vertical négatif */
}



.button-welcome  {
  padding: auto;


}

.button{
  
}

.button-dressing{
  background-color: #2d3436;
  color: #dfe6e9;
}




.container .dark-mode {
  background-color: #2d3436;
  color: #dfe6e9;
  /* Style du conteneur en mode sombre avec un fond gris foncé et une couleur de texte claire */
}
