<div class="container-header">
  <div class="button-start">
    <!-- Bouton du menu burger -->
    <button mat-button class="burger-menu-button" (click)="drawer.toggle()">
      <img
        class="burger-menu-button-image"
        src="../assets/home-header/button-menu.png"
        alt=""
      />
    </button>
    <!-- Logo du header -->
    <img
      class="logo-header"
      alt="logo-vesti"
      routerLink="/home"
      src="../assets/home-header/vesti.png"
    />
  </div>

  <div class="button-end">
    <!-- Champ de recherche -->


    <button
      class="button-welcome"
      mat-raised-button
      color="button"
      routerLink="/home"
    >
      <img class="logo-home" src="../assets/icons/icons8-accueil.svg" alt="icone maison" />
    </button>
    <!-- Bouton "Outfit of the day" -->
    <button
      class="button-welcome"
      mat-raised-button
      color="button"
      routerLink="/welcome-page"
    >
      Welcome
    </button>

    <!-- Bouton "Dressing" avec menu déroulant -->
    <button
      class="button-dressing"
      
      mat-raised-button
      [matMenuTriggerFor]="menu"
    >
      Dressing
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="emitSwitchDressing(0)" mat-menu-item>Mon Dressing</button>
      <button (click)="emitSwitchDressing(1)"mat-menu-item>Cosplay</button>
    </mat-menu>

    </div>
</div>
