/******************BODY***********************************/
.container-ootd {
  /* affiche la tenue du jour */
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 255);
}

.outfit-container {
  /* La classe .outfit-container englobe la tenue du jour.. */
  background-color: rgb(255, 255, 255);
  width: 50%;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}
.example-container {
  /* permet de gerer la couleur de fond */
  background-color: rgb(255, 255, 255);
}
.title {
  /*permet de gerer l'affichage du titre "Voici votre outfit of the day :" */
  font-size: large; /* permet d'agrandir la taille du texte */
  font-weight: bolder; /* permet de mettre le texte en gras */
  margin: auto;
  margin-top: 1rem;
}

.btn-gen-outfit {
  /* bouton "Générer outfit" */
  width: 10rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.outfit-top,
.outfit-bottom,
.outfit-shoes {
  /* permet de centrer les habits (top et bottom et les shoes (chaussures) */
  display: flex;
  justify-content: center;
}
/* permet de gerer la taille des images dans les cards */
.image-view-top {
  width: 25%;
}
.image-view-bottom {
  width: 29%;
  margin-top: -1rem;
}
.image-view-shoes {
  width: 12%;
  margin-top: -1rem;
}
