.img-card
{
  width: 5rem;
  justify-content: center;
}

.clothe-card{
  margin: 0.2rem;
  display: flex;
  width: 5rem;
  height: 8rem;

}



.fav-icon{
  width: 2em;
  align-self: flex-end;
  position: static;
}



