.container-ootd {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.outfit-container {
  background-color: rgb(255, 255, 255);
  width: 50%;
  display: flex;
  margin-top: 2rem;

  flex-direction: column;
}

.title {
  font-size: large;
  font-weight: bolder;
  margin: auto;
  margin-top: 1rem;
}

.btn-gen-outfit {
  width: 10rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.outfit-top,
.outfit-bottom{
  display: flex;

  justify-content: center;

}

.image-view{
  width: 35%;
}
