<div  [@newItemTrigger]="newItem ? 'notHere' : 'here'" class="view-container mat-elevation-z10">


   <div class="card-for-view">
    <!-- Bouton qui englobe les icones favoris et avec une fonction qui change le vetement en favori ou non -->

    <!-- image detaillé du vetement cliqué sur l inventaire -->
    <img class="image-view" [src]="item.linkImage">

    <div class="field-view">{{item.name}}</div>
    <div class="field-view">label : {{item.label}}</div>
    <div class="field-view">taille : {{item.size}}</div>
   </div>

</div>
