<div class="view-container">


   <div class="card-for-view">
    <!-- Bouton qui englobe les icones favoris et avec une fonction qui change le vetement en favori ou non -->
 
    <!-- image detaillé du vetement cliqué sur l inventaire -->
    <img class="image-view" [src]="item.linkImage">

    <div class="field-view">{{item.name}}</div>
    <div class="field-view">type : {{item.type}}</div>
    <div class="field-view">label : {{item.label}}</div>
    <div class="field-view">size : {{item.size}}</div>
   </div>

</div>
