body {
	font-family: 'Roboto', sans-serif;
}

.nav-bar{
    height: 7em;
    padding-left: 20em;
    padding-right: 20em;
    display: flex;
    background-color: #b09393;

  display: flex;
  align-items: center;
}
.logo{
    margin-top: 1rem;
    width: 50%;
}

.title{
  margin-top: 2rem;
  width: 50%;
  font-size: 20px;
  font-weight: 500;
  margin-right: 6rem;
}

section {
    display: table;
    margin: 8px 8px 8px 0;
}
.button-size{
    height: 3em;
    width: 7em;
    border-radius: 10px;
    margin-right: 10px;
}

.buttons{
  margin-top: 1.3rem;
  display: flex;
}
