<mat-toolbar class="nav-bar">

    <section class='FlexContainer'>
        <div class="logo">
            <img class="logo" src="../assets/home-header/vesti.png" alt="logo de vesti">
        </div>
        <div></div>
        <div></div>
    </section>

    <div class="logo">

        <span>Votre Dressing Connecté</span>
    </div>

    <section>
        <span class="logo-space">
            <button mat-raised-button class="button-size">Login</button>
        </span>
        <span>
            <button mat-stroked-button class="button-size">Sign Up</button>
        </span>
    </section>
</mat-toolbar>
