<div class="container" (wheel)="handleScroll($event, 'container')">

    <app-nav-bar></app-nav-bar>
    <div class="background-QR-code">
      <strong style="background-image:url('/src/assets/Designe-garde-robe.png')">
          <app-box></app-box>
      </strong>
    </div>
    <div class="iphone-container" >
      <app-iphone></app-iphone>
    </div>
    <div class="arrow-icon">
      <mat-icon style="font-size: 50px; width: 50px; height:50px" (click)="scrollDown()">arrow_downward</mat-icon>
    </div>

  </div>

  <!--Container contenant les video de les cards de presentation texte et video-->

  <div class="container"  *ngFor="let text of presentationText; let indexOfText = index" [ngStyle]="{'background-color': colors[indexOfText]}" (wheel)="handleScroll($event, 'container-' + indexOfText)">

      <div class="left">
        <app-card-texte-presentation [longText]="text" *ngIf="indexOfText % 2 == 0"></app-card-texte-presentation >
      </div>
      <div class="right">
        <app-card-texte-presentation [longText]="text" *ngIf="indexOfText % 2 != 0"></app-card-texte-presentation>
      </div>
      <div class="arrow-icon-2">
        <mat-icon style="font-size: 50px; width: 50px; height:50px" (click)="scrollDown()" >arrow_downward</mat-icon>
      </div>

  </div>

<!--Le bas de la page avec le footer-->

  <div class="container-2" (wheel)="handleScroll($event, 'container-2')">

      <span class="end-page-text">
        Rejoignez dès maintenant la communauté passionnée de Vestidors et vivez la mode comme jamais auparavant.
        Téléchargez Vestidor et transformez votre façon de gérer votre garde-robe pour toujours !
      </span>
      <div class="background-QR-code-2">
        <app-box></app-box>
      </div>
      <div class="arrow-upward">
        <mat-icon style="font-size: 50px; width: 50px; height:50px" (click)="scrollToTop()" >arrow_upward</mat-icon>
      </div>
      <div class="arrow-upward" style="top: 12em">Sign Up</div>

  </div>
  <app-footer-home></app-footer-home>



