<body>
    <section>
        <app-nav-bar></app-nav-bar>
        <div class="background-QR-code">
            <strong style="background-image:url('/src/assets/Designe-garde-robe.png');">
                <div>
                    <app-box></app-box>
                </div>  
            </strong>
        </div>
    
        <div style="position:relative; bottom: 650px; width:20%; margin-left: 60%; margin-bottom: 0%; ">
            <app-iphone></app-iphone>
        </div>  
    </section>

</body>






<!-- <app-footer></app-footer> -->
