.container {
  background-color: #ffffff;
  height: 100vh;
}

.background-QR-code {
  position: relative;
  bottom: 50px;
  height: 400px;
  width: 25%;
  background-color: #f2f7ff;
  background-image: url("https://st3.depositphotos.com/10614052/36191/i/450/depositphotos_361917662-stock-photo-modern-wardrobe-with-stylish-spring.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;

  margin-left: 20%;
  margin-top: 220px;
  box-shadow: 5px 5px 15px 5px #5e5e5e;
}

.iphone-container {
  position: relative;
  bottom: 500px;
  width: 20%;
  left: 60%;
  margin-bottom: 0%;
}
