.container{
    background-color: #e5c6c6;
    height: 100vh;
    width: 100%;
}

.background-QR-code{
  position: relative;
  bottom: 50px;
    height: 400px;
    width: 25%;
    background-color: #f2f7ff;
    background-image: url('https://st3.depositphotos.com/10614052/36191/i/450/depositphotos_361917662-stock-photo-modern-wardrobe-with-stylish-spring.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    margin-left: 18%;
    margin-top: 220px;
    box-shadow: 5px 5px 15px 5px #5e5e5e;
}

.iphone-container {
  position: relative;
  bottom: 500px;
  width: 17%;
  left: 70%;
  margin-bottom: 0;
}

.card-position{
  background-color: #e5c6c6;
  padding-top: 100px;
  width: 0;
}

.arrow-icon{
  position: relative;
  width: 100%;
  display:flex;
  bottom: 32em;
  justify-content: center;

  /*Bounce animation*/
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.arrow-icon-2 {
  position: relative;
  width: 100%;
  display:flex;
  justify-content: center;
  top: 30em;

  /*Bounce animation*/
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.container-2{
  background-color: #80817e;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}
.end-page-text{
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  font: italic 1.2em "Fira Sans", serif;
  font-size: 2em;
}

.background-QR-code-2{
  position: relative;
  width: 20%;
  padding: 0;
}

/*Animation*/

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
