<mat-grid-list>
    <div style="background-image: url('/src/assets/image-garde-robe.png'); background-size: cover;">
      <mat-card [style.width]="'90%'" style="background-color:#F2F7FF;padding: 20px; margin-right:0px" >
        <mat-card-title style="margin-bottom: 10px;">
          <span style="font-size: 150%;">Vesti J'Investis</span>
        </mat-card-title>
        <div fxLayout="row">
          <div fxFlex="">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/7/78/Qrcode_wikipedia_fr_v2clean.png"
              alt="Smiley face"
              width="80%"
            />
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="center center" style="font-size: 20px;">Télécharger l'application disponible sur tous les smartphones </div>
        </div>
      </mat-card>
    </div>
</mat-grid-list>
