<div class="container">
  <app-header-home [drawer]="drawer"></app-header-home>
  <hr>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

      <app-side-nav></app-side-nav>
    </mat-drawer>

    <div class="container-event">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar #calendar
      [dateClass]="dateClass()" [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
    </mat-card>
    <div class="info-event">
    <p> Jour de l'évenement : {{selectedDate |  date:'medium'}}</p>

    <div *ngIf="dateMatch">
      <div>{{events[eventNumber].title}}</div>
    </div>

    <div *ngIf="dateMatch">
      <div>Outfit prévu</div>
    </div>
  </div>





  </div>


 </mat-drawer-container>
  <app-footer-home></app-footer-home>






