<div class="container">
  <app-header-home [drawer]="drawer"></app-header-home>
  <hr />
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <app-side-nav></app-side-nav>
    </mat-drawer>

    <!-- Calendrier angular Material dateClass sont les date enregistrées commme évenement -->
    <div class="container-event">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar
          #calendar
          [dateClass]="dateClass()"
          [selected]="selectedDate"
          (selectedChange)="onSelect($event)"
        ></mat-calendar>
      </mat-card>
      <div class="info-event mat-elevation-z2">
        <div class="title">
          Jour de l'évenement : {{ selectedDate | date : "longDate" }}
        </div>

        <div class="event-and-outfit">
          <div class="event" *ngIf="dateMatch">
            <div>{{ eventTemp.title }}</div>
          </div>
          <div class="event" *ngIf="!dateMatch">
            <div> Aucun évenement</div>
          </div>

          <div class="outfit" *ngIf="dateMatch">
            <div class="outfit-top">
              <img
                class="image-view"
                *ngIf="itemVesteNoire"
                [src]="outfitList[eventTemp.outfitIndex].itemTop.linkImage"
              />
            </div>

            <div class="outfit-bottom">
              <img
                class="image-view"
                *ngIf="itemPantalonNoir"
                [src]="outfitList[eventTemp.outfitIndex].itemBottom.linkImage"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="add-event-container ">
        <form [formGroup]="eventForm"   class="example-form" (ngSubmit)="onSubmit()">
          <button class="btn-ajouter-even"  mat-raised-button >
            Ajouter évenement
          </button>
          <mat-form-field class="example-full-width">
            <mat-label></mat-label>
            <input formControlName="title" class="input-event"  matInput placeholder="Nom evenement" />
          </mat-form-field>
        </form>
        <div >
          <div class="sub-title">Choisis ton outfit</div>
         <app-carrousel (outfitIndexChoosed)="getIndexOutfitEvent($event)" [outfitListInput]="outfitList"></app-carrousel>
        </div>
      </div>
    </div>
  </mat-drawer-container>
  <app-footer-home></app-footer-home>
</div>
