
/* You can add global styles to this file, and also import other style files */

body::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}




/* You can add global styles to this file, and also import other style files */
.slick-prev:before, .slick-next:before{
  color: black !important;

}

html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 0;
}

.special-date {
  background-color: red;
}



