<div class="container">

  <div class="option-button-dressing">

    <button class="add-clothe-button" mat-stroked-button> + Ajouter un vêtement</button>
    <button class="favorite-button" mat-stroked-button (click)="disabledFavFunction()"> Favoris
      <mat-icon>favorite</mat-icon>

    </button>
  </div>



    <div *ngIf="disabledFav" class="list">
      <div *ngFor="let item of itemInventory">
        <app-card-clothe (click)="selectItem(item)"  [item]="item"></app-card-clothe>
      </div>
    </div>
    <!-- div qui s'active pour montrer la liste des element favoris -->
    <div *ngIf="!disabledFav" class="list">
      <div *ngFor="let item of listItemFav">
        <app-card-clothe  [item]="item"></app-card-clothe>
      </div>
    </div>





<div class="product-detail">





</div>
</div>
